@model string

<div class="control-label">
    @if (Model != null)
    {
        <img id="user_img" width="100" src="~/images/@Model" />
    }
    else
    {
        <img id="user_img" width="100" src="https://via.placeholder.com/150X150?text=No+Image"/>
    }
</div>

