@model MyFabricTrackerWebApp.Models.Fabric

@{
    ViewData["Title"] = "Create";
}

<h4>Create New Fabric...</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsPopular" /> Popular?
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDiscontinued" /> Discontinued?
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDeleted" /> Delete?
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image:</label>
                <div class="control-label">
                    <img id="user_img" width="100" />
                </div>
                <input type="file" asp-for="ImageFile" class="form-control no-border no-padding-left" onchange="show(this)" />
                <script type="text/javascript">
                    function show(input) {
                        if (input.files && input.files[0]) {
                            var filereader = new FileReader();
                            filereader.onload = function (e) {
                                $('#user_img').attr('src', e.target.result);
                            }
                            filereader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
                @*<span asp-validation-for="ImageFileName" class="text-danger"></span>*@
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Background<br />Color</label>
                        <input asp-for="BackgroundColor" class="form-control" />
                        <span asp-validation-for="BackgroundColor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Accent<br />Color 1</label>
                        <input asp-for="AccentColor1" class="form-control" />
                        <span asp-validation-for="AccentColor1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Accent<br />Color 2</label>
                        <input asp-for="AccentColor2" class="form-control" />
                        <span asp-validation-for="AccentColor2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Accent<br />Color 3</label>
                        <input asp-for="AccentColor3" class="form-control" />
                        <span asp-validation-for="AccentColor3" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <partial name="_ChooseCategory.cshtml" />

            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="FabricName" class="form-control" />
                <span asp-validation-for="FabricName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Width</label>
                <input asp-for="FabricWidth" class="form-control" />
                <span asp-validation-for="FabricWidth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Type</label>
                <input asp-for="FabricType" class="form-control" />
                <span asp-validation-for="FabricType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Notes</label>
                <input asp-for="FabricNotes" class="form-control" />
                <span asp-validation-for="FabricNotes" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SourceId" class="control-label">Source</label>
                <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId">
                    <option value="">Select a source...</option>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

