@model MyFabricTrackerWebApp.Models.Fabric

@{
    ViewData["Title"] = "Create";
}

<h4>Create New Fabric...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Upload Image:</label>
                <input asp-for="ImageFile" class="form-control no-border" />
                @*<span asp-validation-for="ImageFileName" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Item Code</label>
                <input asp-for="FabricItemCode" class="form-control" />
                <span asp-validation-for="FabricItemCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="FabricName" class="form-control" />
                <span asp-validation-for="FabricName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Main Category</label>
                <select asp-for="MainCategoryId" class ="form-control" asp-items="ViewBag.MainCategoryId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">SubCategory</label>
                <select asp-for="SubCategoryId" class ="form-control" asp-items="ViewBag.SubCategoryId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <input asp-for="FabricType" class="form-control" />
                <span asp-validation-for="FabricType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Notes</label>
                <input asp-for="FabricNotes" class="form-control" />
                <span asp-validation-for="FabricNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Source Name</label>
                <input asp-for="FabricSourceName" class="form-control" />
                <span asp-validation-for="FabricSourceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Source Url</label>
                <input asp-for="FabricSourceUrl" class="form-control" />
                <span asp-validation-for="FabricSourceUrl" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

