@model MyFabricTrackerWebApp.Models.Fabric

@{
    ViewData["Title"] = "Edit Fabric";
}
<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("_UploadImageEdit", Model.ImageFileName)
    </div>
    <div class="col-md-3">
        <h5>Total Yds: <u>@string.Format("{0:n2}", ViewBag.TotalInches / 36.00)</u></h5>
        <h5>Total Fat Qtrs: <u>@ViewBag.TotalFatQtrs</u></h5>
        <h5>Name: @Model.FabricName</h5>
    </div>
    <div class="col-md-3">
       
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="FabricID" />

            <h4>Edit Fabric Information</h4>

            <partial name="_ChooseCategory.cshtml" />

            <div class="form-group">
                <label class="control-label">Type</label>
                <select asp-for="FabricTypeId" class="form-control" asp-items="ViewBag.FabricTypeId">
                    <option value="">Select a type...</option>
                </select>
                <span asp-validation-for="FabricType" class="text-danger"></span>
                <a class="btn btn-primary" asp-action="Create" asp-controller="FabricTypes">Create New Fabric Type</a>
            </div>
            <div class="form-group">
                <label asp-for="SourceId" class="control-label">Source</label>
                <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId">
                    <option value="">Select a source...</option>
                </select>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Sources">Create New Source</a>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsPopular" /> Popular?
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDiscontinued" /> Discontinued?
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image:</label>
                @await Html.PartialAsync("_UploadImageEdit", Model.ImageFileName)
                <input type="file" asp-for="ImageFile" class="form-control no-border no-padding-left" onchange="show(this)" />
                <script type="text/javascript">
                    function show(input) {
                        if (input.files && input.files[0]) {
                            var filereader = new FileReader();
                            filereader.onload = function (e) {
                                $('#user_img').attr('src', e.target.result);
                            }
                            filereader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Background<br />Color</label>
                        <input asp-for="BackgroundColor" class="form-control" />
                        <span asp-validation-for="BackgroundColor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Accent<br />Color 1</label>
                        <input asp-for="AccentColor1" class="form-control" />
                        <span asp-validation-for="AccentColor1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Accent<br />Color 2</label>
                        <input asp-for="AccentColor2" class="form-control" />
                        <span asp-validation-for="AccentColor2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Accent<br />Color 3</label>
                        <input asp-for="AccentColor3" class="form-control" />
                        <span asp-validation-for="AccentColor3" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="FabricName" class="form-control" />
                <span asp-validation-for="FabricName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Brand</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Designer</label>
                <input asp-for="Designer" class="form-control" />
                <span asp-validation-for="Designer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReleased" class="control-label"></label>
                <input asp-for="DateReleased" class="form-control" />
                <span asp-validation-for="DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Width</label>
                <input asp-for="FabricWidth" class="form-control" />
                <span asp-validation-for="FabricWidth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Notes</label>
                <textarea asp-for="FabricNotes" class="form-control"></textarea>
                <span asp-validation-for="FabricNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        
        @await Html.PartialAsync("_CreateTransaction", new Transaction { 
            FabricId = Model.FabricID,
            TransactionDate = DateTime.Today 
   })
    </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

